<style>
	.event {
		box-shadow: 1px 1px 5px 1px #dbdbdb;
		margin-bottom: 30px;
		display: block;
		color: #000 !important;
		text-decoration: none !important;
	}

	.event > div {
		display: inline-block
	}

	.image-wrapper {
		width: 100%;
		overflow: hidden;
	}

	.event h1 {
		font-size: 20px;
		margin: 0 0 10px;
		line-height: 25px;
	}

	.event .text {
		width: 100%;
	}

	.text > div {
		padding: 10px;
	}

	.description {
		margin-bottom: 10px;
	}

	.date {
		font-weight: bold;
		margin-bottom: 10px;
	}

	.date > div {
		display: inline-block;
		margin-right: 30px
	}
</style>

<div>
	<div class="">
		<div class="event">
			<div class="image-wrapper">
				<img src="{{file_url('public://') ~ content.event.image}}" alt="{{content.event.title[:10]}}">
			</div>
			<div class="text">
				<div>
					<h1>
						{{ content.event.title }}
					</h1>
					<div class="description">
						{{content.event.description | raw}}
					</div>
					<div class="date">
						<div>
							From:
							{{content.event.start_date}}
						</div>
						<div>
							To:
							{{content.event.end_date}}
						</div>
					</div>
					<div>
						#{{content.event.category}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
